<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244722332659-08hg8m8ive57knt80uu1b9eg06o6lnp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244722332659-08hg8m8ive57knt80uu1b9eg06o6lnp9</string>
	<key>API_KEY</key>
	<string>AIzaSyDUojYX7m7kM5uuDNC_HhQz7gr3LWO5MxY</string>
	<key>GCM_SENDER_ID</key>
	<string>244722332659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theConscientiousConsumer</string>
	<key>PROJECT_ID</key>
	<string>conscientious-consumer</string>
	<key>STORAGE_BUCKET</key>
	<string>conscientious-consumer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244722332659:ios:c49699c94349fa86f91886</string>
</dict>
</plist>